<div class="rails-default-error-page">
  <div class="dialog">
    <div>
      <h1>Error 404: <%= t('error.not_found') %></h1>
      <p><%= t('error.not_found_descr') %></p>
    </div>
    <p><%= t('error.if_owner') %></p>
  </div>
</div>
