<div class="rails-default-error-page">
  <div class="dialog">
    <div>
      <h1>Error 406: <%= t('error.unacceptable') %></h1>
      <p><%= t('error.unacceptable_descr') %></p>
    </div>
    <p><%= t('error.if_owner') %></p>
  </div>
</div>
