<div class="rails-default-error-page">
  <div class="dialog">
    <div>
      <h1>Error 401: <%= t('error.unauthorized') %></h1>
    </div>
    <p><%= t('error.unacceptable_descr') %></p>
  </div>
</div>
