<div class="rails-default-error-page">
  <div class="dialog">
    <div>
      <h1>Error 422: <%= t('error.unprocessable') %></h1>
      <p><%= t('error. unprocessable_descr') %></p>
    </div>
    <p><%= t('error.if_owner') %></p>
  </div>
</div>
