<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box.is-transparent is-centered">
            <figure>
                <a href="#">
                    <%= image_tag("logo2.png", :alt => "Logo ShareGO", :class => "reducido") %>
                </a>
            </figure>
        </div>
        <div class="box.is-transparent">
            <h2><b><%= t('footer.about_us') %></b></h2>
            <p><a href="https://github.com/diegocostares">Diego Costa</a></p>
            <p><a href="https://github.com/aplaza2">Alejandro Plaza</a></p>
            <p><a href="https://github.com/agucova">Agustín Covarrubias</a></p>
        </div>
        <div class="box.is-transparent">
            <img src="/logo-uc-05.svg"/>
        </div>

    </div>
    <div class="grupo-2">
        <small><%= t('footer.love') %></small>
    </div>
</footer>
